img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

select {
    display: block;
    margin: 0 auto;
    }

    .panel-title {
        text-align: center;
    }

    .first {
        text-align: center;
    }

    button {
        
    }